 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./stylesheets/bracket.css" />
    <link rel="stylesheet" href="./stylesheets/ticker.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Bracketeers!</title>

</head>

<body>
  <header class="inner">
    <h2><a href="index.html"><i class="fas fa-code"></i>
        </a></h2>
  </header>
  <div class="container-fluid main-div">
    {{{ body}}}
  </div>
</body>

</html>