<link rel="stylesheet" href="/stylesheets/bracketstyle.css">
<link href="hotsnackbar.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
<script>
function showSnackbar(message) {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ 
    x.className = x.className.replace("show", "");
    x.innerHtml = message;
    },3000);
    
}
</script>
<div id="snackbar">Countries Added!!</div>
<div class="container-fluid main-div">
<header class="hero">
    <div class="hero-wrap">
     <p class="intro" id="intro">Bracketeers</p>
     <br>
         <h1 id="headline">Add Your Country</h1>
         <p class="year"><i class="fa fa-star"></i> 2020 <i class="fa fa-star"></i></p>
     <p>Ballin' Outta Control</p>
   </div>

<h2 align="center">Pick Your countries</h2>

   <section id="bracket">
        <div class="w3-row">
        <div class="col-3 center w3-third w3-container"></div>
        <a href="/home" class="homeBtn"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>

    <br><br>

    <div class="row">
   
    </div>

    <div class="row">
        <div class="col-6" id="dropdown">
            <div class="card">
            <form action="/addeast" method="POST">
                <fieldset>
                <legend class="west">EAST</legend>
                    <label class="choose">Select Country</label>
                    <select id = "eastList" multiple></select>
                </fieldset>
                <br>
                <input class="countryBtn" onclick = 'showSnackbar()' id="eastBtn" type="submit" value="Add Country" class="btn btn-reverse">

            </form>
            </div>
        </div>
        
        <div class="col-6" id="dropdown-two">
            <div class="card">
            <form align="center" action="/addwest" method="POST">
                <fieldset>
                <legend class="east">WEST</legend>
                    <label class="choose">Select Country</label>
                    <select id = "westList" multiple></select>
                </fieldset>
                <br>
                <input class="countryBtn" onclick = 'showSnackbar()'id="westBtn" type="submit" value="Add Country" class="btn btn-reverse">
            </form>
            </div>
            </div>
    </div>
    
    <section class="share">
          
    </section>

    <div class="share-wrap">
        <a href="/countries" class="playoffBtn">Playoff</a>
            <p class="intro" id="intro">Good luck!</p>
    </div>

    <div>

        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded" src="/imgs/flags-multiple-country.jpg"/>
        </figure>

        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded" src="/imgs/flags-second.jpg"/>
        </figure>

        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded" src="/imgs/multiple-flags.jpg"/>
        </figure>

        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded" src="/imgs/flagsofworld2.jpg"/>
        </figure>
    </div>
    
    <script src="../populate.js"></script>
