<h2>Select Countries</h2>

    {{#each errors}}
        <div class="error">
           <p>{{text}}</p> 
        </div>
    {{/each}}
    {{!-- <form>
        <div class="input-group">
            <label for="CountryName">Country Name needed</label>
            <input type="text" name="CountryName" id="CountryName" class="input-box"
            placeholder="Eg: Nepal, USA"
            maxlength="100" value={{CountryName}}>
        </div>
        <input type="submit" value="Add Country" class="btn btn-reverse">
    </form> --}}
    <form>
        <fieldset>
          <legend>Selecting elements</legend>
             <label>Select Country</label>
             <select id = "myList">
                <option value = "Nepal" selected>Nepal</option>
                <option value = "England">England</option>
                <option value = "Italy" required>Italy</option>
                <option value = "Australia" disabled>Australia</option>
             </select>
        </fieldset>
        <input type="submit" value="Add Country" class="btn btn-reverse">
    </form>