<link rel="stylesheet" href="/stylesheets/bracketstyle.css">
<div class="container-fluid main-div">
<header class="hero">
    <div class="hero-wrap">
     <p class="intro" id="intro">Bracketeers</p>
     <br>
         <h1 id="headline">Tournament</h1>
         <p class="year"><i class="fa fa-star"></i> 2020 <i class="fa fa-star"></i></p>
     <p>Ballin' Outta Control</p>
   </div>
</header>

    <section id="bracket">
        <div class="w3-row">
            
        <div class="col-3  w3-third w3-container"> <button id="startBtn">ADD YOUR COUNTRY</button></div>
        {{!-- <div class="col-3  w3-third w3-container"><a href="/countries/add"></a> <button id="startBtn">ChOOSE NEW COUNTRIES?</button></div> --}}
        <a href="/countries/add" class="homeBtn">CHOOSE NEW COUNTRIES?</a>
        <a href="/home" class="homeBtn"><i class="fa fa-home" aria-hidden="true"></i></a>
        
        
        </div>

    <br><br>

    <div class="row">
        <div class="col-3"> <button id="playBtn">PLAY GAME</button></div>
        <div class="col-3"> <button id="firstround">ROUND 1</button></div>
        <div class="col-3"> <button id="secondround">ROUND 2</button></div>
        <div class="col-3"> <button id="thirdround">ROUND 3</button></div>
    </div>

    <div class="container" id="firstcontainer">
    <div class="split split-one">
        
        <div class="round round-one current">
         
            <div class="round-details">Round 1<br/><span class="date"></span></div>
            <ul class="matchup">
                <li class="team team-top" id="first"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="second"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="third"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="fourth"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="fifth"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="sixth"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="seventh"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="eighth"><span class="country"></span><span class="score"></span></li>
            </ul><br>           
                     
        </div>  <!-- END ROUND ONE -->

        <div class="round round-two">
            <div class="round-details">Round 2<br/><span class="date"></span></div>         
            <ul class="matchup">
                <li class="team team-top" id="efrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="efrw2">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top" id="efrw3">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="efrw4">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul><br>   
                        
        </div>  <!-- END ROUND TWO -->
        
        <div class="round round-three">
            <div class="round-details">Round 3<br/><span class="date"></span></div>         
            <ul class="matchup">
                <li class="team team-top" id="esrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="esrw2">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul><br>                           
        </div>  <!-- END ROUND THREE -->        
    </div> 

<div class="champion">
        <div class="final">
            <div class="round-details">championship <br/><span class="country"></span><span class="date"></span></div>      
            <ul class ="matchup championship">
                <li class="team team-top" id="etrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul>
        </div>
        <div class="final">
            <i class="fa fa-trophy"></i>
            <ul class ="matchup championship">
                <li class="team team-top" id="wtrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul>

        {{!-- final score button --}}
        </div>
        <button onclick="playAudio()" type="button" id="myAudio" src="./imgs/cheering(2).mp3" class="finalscore">FINAL</button> 
        </div>

    <div class="split split-two">


        <div class="round round-three">
            <div class="round-details">Round 3<br/><span class="date"></span></div>                     
            <ul class="matchup">
                <li class="team team-top" id="wsrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="wsrw2">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul>   
            {{!-- <button id="firstround1"></button>                         --}}
        </div>  <!-- END ROUND THREE -->    

        <div class="round round-two">
            <div class="round-details">Round 2<br/><span class="date"></span></div>                     
            <ul class="matchup">
                <li class="team team-top" id="wfrw3">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="wfrw4">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top" id="wfrw1">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
                <li class="team team-bottom" id="wfrw2">&nbsp;<span class="country"></span><span class="score">&nbsp;</span></li>
            </ul><br>   
            {{!-- <button id="firstround1"></button>  --}}
                                    
        </div>  <!-- END ROUND TWO -->
        <div class="round round-one current">
            <div class="round-details">Round 1<br/><span class="date"></span></div>
            <ul class="matchup">
                <li class="team team-top" id="ninth"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="tenth"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="eleventh"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="twelevth"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="thirteenth"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="fourteenth"><span class="country"></span><span class="score"></span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top" id="fifteenth"><span class="country"></span><span class="score"></span></li>
                <li class="team team-bottom" id="sixteenth"><span class="country"></span><span class="score"></span></li>
            </ul><br>           
            {{!-- <button id="firstround"></button>                         --}}
        </div>  <!-- END ROUND ONE -->                          
    </div>
    </div>
    </section>
    <section class="share">
            <div class="share-wrap">
            <p class="intro" id="intro">Bracketeers</p>
            </div>
    </section>
</div>
<script src="playgame.js"></script>


    
  