<div class="header"><h1>Welcome to The Bracketeers</h1></div>
<div class="bracket-container">

    <!-- first bracket level -->
    {{#each CountryName}}
        <div class="CountryName">
            {{ CountryName }}
        </div>  
    {{else}}
        <p>No Country availabe</p>
    {{/each}}

</div>

    
  